
<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-12">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Services</a></li>
                        <li class="breadcrumb-item"><a>Add Startups</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>Add Startups</h1>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12">
            <mat-card class="mat_card_invoice">
                <form action="" class="add_invoice_form" [formGroup]="addDocumentsForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Startups Category<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <mat-select  (selectionChange)="getSubTitel($event)" name="food" class="mat_input" formControlName="startup_category">
                                        <mat-option *ngFor="let document of documentList" [value]="document.document_name">
                                          {{document.document_name}}
                                        </mat-option>
                                      </mat-select>
                                    <!-- <input matInput type="text" class="mat_input" formControlName="category"> -->
                                </mat-form-field>
    

                                <div *ngIf="addDocumentsForm.controls['startup_category'].invalid && (addDocumentsForm.controls['startup_category'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['startup_category'].errors">
                                        Startup Category is Required
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Startup Sub Category<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <mat-select  name="food" class="mat_input" formControlName="startup_sub_category">
                                        <mat-option *ngFor="let document of getSubTitelArry" [value]="document.sub_document_name">
                                          {{document.sub_document_name}}
                                        </mat-option>
                                      </mat-select>
                                    <!-- <input matInput type="text" class="mat_input" formControlName="category"> -->
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['startup_sub_category'].invalid && (addDocumentsForm.controls['startup_sub_category'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['startup_sub_category'].errors">
                                        Startup Sub Category is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Title<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="title">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['title'].invalid && (addDocumentsForm.controls['title'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['title'].errors">
                                        Title is Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Description<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="description">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['description'].invalid && (addDocumentsForm.controls['description'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['description'].errors">
                                        Description is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                      
                    </div>
                    <div class="row">
                       
                        <div class="col-md-6">
                            <div class="form_alert">
                                <div class="upload-file">
                                    <div class="upload-img d-flex">
                                        <button class="file-upload-button">
                                            <input type="file" class="upload-file" (change)="onFileChanged($event)" />
                                            Banner Image
                                        </button>
                                        <p *ngIf="!fileName">Upload Image</p>
                                        <p *ngIf="fileName">{{fileName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form_alert">
                                <label class="mat_label">Content<span></span></label>
                                <div class="NgxEditor__Wrapper">
                                    <ngx-suneditor ></ngx-suneditor>
                                </div>

                              
                              
                            </div>
                            
                        </div>

                    </div>

<!-- 
                       <div class="row">

                        <div class="row">
                            <div class="col row-tittle">
                                <h3>
                              
                                </h3>
                             </div>

                        <div class="add-more-btn">
                            <button mat-button (click)="addAddonsFileds()" class="add-more">
                                Add More
                            </button>
                        </div>
                        </div>
                        <div class="addnos-fileds" *ngFor="let quantity1 of  addons().controls; let i=index"
                            formArrayName="addons">
                            <div class="row " [formGroupName]="i">
                                <div class="col-md-4">
                                    <div class="form_alert">
                                        <label class="mat_label">Documents Addons<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="addons_titel">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form_alert">
                                        <label class="mat_label">Documents Price<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="addons_price">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form_alert">
                                        <label class="mat_label">Documents Offer Price<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="addons_offer_price">
                                        </mat-form-field>
                                    </div>

                                    <div class="remove-more-btn" *ngIf="i>0">
                                        <button class="remove-more" (click)="removeAddonsFileds(i)">Remove</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> -->

                

                    <!-- <div class="addenos-row" *ngIf="showAddenos" >
                        <form action="" [formGroup]="addenosFrom" >
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form_alert">
                                        <label class="mat_label">Add New AddOns<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input" formControlName="extra_add_on_name">
                                        </mat-form-field>
                                        <div *ngIf="addenosFrom.controls['extra_add_on_name'].touched"
                                            class="alert alert-danger">
                                            <div *ngIf="addenosFrom.controls['extra_add_on_name'].errors">
                                                Add New AddOns is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-3">
                                    <div class="form_alert">
                                        <label class="mat_label">Actual Price<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input" formControlName="actual_price">
                                        </mat-form-field>
                                        <div *ngIf="addenosFrom.controls['actual_price'].touched"
                                            class="alert alert-danger">
                                            <div *ngIf="addenosFrom.controls['actual_price'].errors">
                                                Actual Price is Required
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-3">
                                    <div class="form_alert">
                                        <label class="mat_label">Offer Price<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="offer_price">
                                        </mat-form-field>
                                        <div *ngIf="addenosFrom.controls['offer_price'].touched"
                                            class="alert alert-danger">
                                            <div *ngIf="addenosFrom.controls['offer_price'].errors">
                                                Offer Price is Required
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-md-2 save-addenos">
                                    <button mat-button (click)="saveAddenos()"  class="addenos">
                                        Save
                                    </button>
                                </div>
                            </div>

            

                        </form>
                    </div>
                -->


                    <!-- <div class="row">

                        <div class="row">
                            <div class="col row-tittle">
                                <h3>
                                   Startup Details
                                </h3>
                             </div>

                             <div class="col add-more-btn">
                                <button mat-button (click)="addContentFileds()" class="add-more">
                                    Add More
                                </button>
                            </div>

                        </div>

                        <div class="dynami-fiels" *ngFor="let quantity of  document_content().controls; let i=index"
                            formArrayName="startup_content">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-6">
                                    <div class="form_alert">
                                        <label class="mat_label">Content Title <span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="content_titel">
                                        </mat-form-field>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form_alert">
                                        <label class="mat_label">Content Description<span>*</span></label>
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor-menu [editor]="editor1"> </ngx-editor-menu>
                                            <ngx-editor [editor]="editor1" [ngModel]="html1"
                                                formControlName="content_text" [disabled]="false"
                                                [placeholder]="'Type here...'"></ngx-editor>
                                        </div>

                                    </div>
                                    <div class="remove-more-btn" *ngIf="i>0">
                                        <button class="remove-more" (click)="removeContentFileds(i)">Remove</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Actual Price<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="actual_price">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['actual_price'].invalid && (addDocumentsForm.controls['actual_price'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['actual_price'].errors">
                                        Actual Price  is Required
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Offer Price<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input"
                                        formControlName="offer_price">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['offer_price'].invalid && (addDocumentsForm.controls['offer_price'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['offer_price'].errors">
                                        Offer Price is Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">US Actual Price<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="us_actual_price">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['us_actual_price'].invalid && (addDocumentsForm.controls['us_actual_price'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['us_actual_price'].errors">
                                       US Actual Price is Required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">US Offer Price<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input"
                                        formControlName="us_offer_price">
                                </mat-form-field>
                                <div *ngIf="addDocumentsForm.controls['us_offer_price'].invalid && (addDocumentsForm.controls['us_offer_price'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="addDocumentsForm.controls['us_offer_price'].errors">
                                       US Offer Price is Required
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                      
                    </div>


                    <!-- <div class="row">
                        <div class="row">
                            <div class="col row-tittle">
                                <h3>
                                FAQ
                                </h3>
                             </div>

                        <div class="col add-more-btn">
                            <button mat-button (click)="addFeqFileds()" class="add-more">
                                Add More
                            </button>
                        </div>
                        </div>
                        <div class="dynami-fiels" *ngFor="let quantity2 of  faq().controls; let i=index"
                            formArrayName="faq">
                            <div class="row" [formGroupName]="i">
                                <div class="col-md-6">
                                    <div class="form_alert">
                                        <label class="mat_label">Question<span>*</span></label>
                                        <mat-form-field class="mat_form_filed">
                                            <input matInput type="text" class="mat_input"
                                                formControlName="faq_que">
                                        </mat-form-field>

                                    

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form_alert">
                                        <label class="mat_label">Answer<span>*</span></label>
                                        <div class="NgxEditor__Wrapper">
                                            <ngx-editor-menu [editor]="editor2"> </ngx-editor-menu>
                                            <ngx-editor [editor]="editor2" [ngModel]="html2"
                                                formControlName="faq_ans" [disabled]="false"
                                                [placeholder]="'Type here...'"></ngx-editor>
                                        </div>

                                   
                                    </div>
                                    <div class="remove-more-btn" *ngIf="i>0">
                                        <button class="remove-more" (click)="removeFewFileds(i)">Remove</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div> -->




                    <div class="row">

                        <div class="col-md-4 mt-2">
                            <div class="buttuns">
                                <div class="d-flex justify-content-between">
                                    <button mat-button class="sub_btn me-3 " (click)="save()">Save</button>
                                    <!-- <button mat-button class="cancel_btn"  (click)="cancel()">Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-card>
        </div>
    </div>

</div>