<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-12">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Blogs</a></li>
                        <li class="breadcrumb-item"  [routerLink]="'/admindashboard/view-admin-blogs'"><a>View Blogs</a></li>
                        <li class="breadcrumb-item active" ><a>Edit Blogs</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>Update Blog</h1>
            </div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12">
            <mat-card class="mat_card_invoice">
                <form action="" class="add_invoice_form" [formGroup]="editBlogsForm" >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form_alert">
                                <label class="mat_label">Content<span>*</span></label> 
                                <div class="NgxEditor__Wrapper">
                                    <!-- <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                    <ngx-editor
                                      [editor]="editor"
                                      [ngModel]="html"
                                      formControlName="content"
                                      [disabled]="false"
                                      [placeholder]="'Type here...'"
                                    ></ngx-editor> -->
                                    <!-- app.component.html -->

                               <ckeditor [editor]="Editor" 
                               formControlName="content"
                               data="<p>Hello, world!</p>"></ckeditor>

                                  </div>
                                <div *ngIf="editBlogsForm.controls['content'].invalid && (editBlogsForm.controls['content'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['content'].errors">
                                     Blog  Content Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Title<span>*</span></label> 
                                <mat-form-field class="mat_form_filed" >
                                    <input matInput type="text" class="mat_input"  formControlName="title" >
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['title'].invalid && (editBlogsForm.controls['title'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['title'].errors">
                                        Title Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Meta Title<span>*</span></label> 
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="meta_title">
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['meta_title'].invalid && (editBlogsForm.controls['meta_title'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['meta_title'].errors">
                                      Meta  Title Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Meta Description<span>*</span></label> 
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="meta_discription">
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['meta_discription'].invalid && (editBlogsForm.controls['meta_discription'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['meta_discription'].errors">
                                        Meta Description Type Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <div class="upload-file">
                                    <div class="upload-img d-flex">
                                        <button class="file-upload-button">
                                            <input type="file"  class="upload-file"
                                                (change)="onFileChanged($event)"  />
                                                Browse Image
                                        </button>
                                        <p *ngIf="!fileName">Upload Image</p>
                                        <p *ngIf="fileName">{{fileName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Meta Keyword<span>*</span></label> 
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="meta_keyword">
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['meta_keyword'].invalid && (editBlogsForm.controls['meta_keyword'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['meta_keyword'].errors">
                                        Meta Keyword Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Blog Url<span>*</span></label> 
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="blog_url">
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['blog_url'].invalid && (editBlogsForm.controls['blog_url'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['blog_url'].errors">
                                        Blog Url Required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Category<span>*</span></label> 
                                <mat-form-field class="mat_form_filed">
                                    <mat-select  name="food" class="mat_input" formControlName="category">
                                        <mat-option *ngFor="let categoryData of categoryList" [value]="categoryData.id">
                                          {{categoryData.category_name}}
                                        </mat-option>
                                      </mat-select>
                                </mat-form-field>
                                <div *ngIf="editBlogsForm.controls['category'].invalid && (editBlogsForm.controls['category'].touched)" class="alert alert-danger">
                                    <div *ngIf="editBlogsForm.controls['category'].errors">
                                     Blog  Content Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <div class="buttuns">
                                <div class="d-flex justify-content-between">
                                    <button mat-button  class="sub_btn me-3 " (click)="save()" >Update</button>
                                    <!-- <button mat-button  class="cancel_btn" (click)="cancel()">Cancel</button> -->
                                </div>
                            </div>
                        </div>    
                    </div>
                </form>
            </mat-card>
        </div>
    </div>

</div>


