<div class="Add_Invoice">
    <div class="row m-0">
        <div class="col-md-8">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Service</a></li>
                        <li class="breadcrumb-item active"><a>View Startup</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>View Startup</h1>
            </div>
        </div>
        <div class="col-md-4">
            <form action="" class="add_invoice_form add_invoice_form1">
                <div class="row">
                    <div class="col-md-8">
                        <mat-form-field class="mat_form_filed">
                            <button mat-button><i class="bi bi-search"></i> </button>
                            <mat-label class="mat_label">Search</mat-label>
                            <input matInput type="text" class="mat_input" (keyup)="applyFilter($event)" #input>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-md-12">
            <div class="transactions_tables">
                <table mat-table [dataSource]="dataSource" class="table_width">
                    <ng-container matColumnDef="startup_category">
                        <th mat-header-cell *matHeaderCellDef>  Startup Title </th>
                        <td mat-cell *matCellDef="let element "> {{element.startup_category}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="startup_sub_category">
                        <th mat-header-cell *matHeaderCellDef>Startup Sub Title</th>
                        <td mat-cell *matCellDef="let element"> {{element.startup_sub_category}} </td>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="created_date">
                        <th mat-header-cell *matHeaderCellDef> Blog Created Date</th>
                        <td mat-cell *matCellDef="let element"> {{element.created_on | date:'dd MMM,yyy'}} </td>
                    </ng-container> -->


                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element">
                            <button class="review_btn" mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="editBlog(element)">
                                    <mat-icon>edit_square</mat-icon>
                                    <span>Edit</span>
                                  </button>
                            </mat-menu>
                        </td>
                    </ng-container>

                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header_bg"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="startupDocumentList.length" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
