<div class="lawyers_invoice">
    <div class="row m-0">
        <div class="col-md-7">
            <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" routerLink="/admindashboard/appointment-payment"><a>Lawyer Payments</a></li>
                        <li class="breadcrumb-item active"><a>View Payments</a></li>
                    </ol>
                </nav>
            </div>
            <div class="invoice_heading">
                <h1>View Payment</h1>
            </div>
        </div>
   
       
     

    </div>

    <div class="row m-0">
        <div class="col-md-12" >
            <table>
                <tr>
                    <td class="td_header">Lawyer Name</td>
                    <td class="td_header">Lawyer Email</td>
                    <td class="td_header">Lawyer Mobile</td>
                   
                </tr>
                <tr>
                    <td>{{lawyerData?.first_name}} {{lawyerData?.last_name}}
                    </td>
                    <td>{{lawyerData?.email}} 
                    </td>
                    <td>{{lawyerData?.phone_no}}</td>
                </tr>
                <!-- <tr>
                    
                   
                </tr> -->
                

            </table>


<div>
    <mat-card class="mat_card_invoice">
    <form action="" class="add_invoice_form" [formGroup]="lawyerPaymeentsData" #myform="ngForm">
        <div class="row">

            <div class="col-md-6">
                <div class="form_alert">
                    <label class="mat_label"> Date Of Payments<span>*</span></label> 
                    <mat-form-field class="mat_form_filed">
                        <!-- <input matInput [matDatepicker]="picker"  (dateInput)="getDate($event)" formControlName="date" -->
                         <input matInput [matDatepicker]="picker"  (dateInput)="getDate($event)" formControlName="date_of_payments"
                             class="mat_input">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <h6>
                        <span
                            *ngIf="lawyerPaymeentsData.controls['date_of_payments'].hasError('required') && myform.submitted">Choose
                            the Date
                        </span>
                    </h6>
                </div>
               
            </div>

            <div class="col-md-6">
                <div class="form_alert">
                    <label class="mat_label">Interval<span>*</span></label> 
                    <mat-form-field class="mat_form_filed">
                        <mat-select  name="food" class="mat_input" formControlName="interval">
                            <mat-option  value="1st">
                                1st
                            </mat-option>
                            <mat-option  value="2nd">
                                2nd
                               </mat-option>
                          </mat-select>
                        <!-- <input matInput type="text" class="mat_input" formControlName="category"> -->
                    </mat-form-field>

                    <!-- <div *ngIf="addBlogsForm.controls['category'].invalid && (addBlogsForm.controls['category'].touched)" class="alert alert-danger">
                        <div *ngIf="addBlogsForm.controls['category'].errors">
                         Blog  Content Required
                        </div>
                    </div> -->

                    <h6>
                        <span
                            *ngIf="lawyerPaymeentsData.controls['interval'].hasError('required') && myform.submitted">Interval is Required</span>
                    </h6>

                </div>
               
            </div>

            <div class="col-md-4 mt-2">
                <div class="buttuns">
                    <div class="d-flex justify-content-between">
                        <button mat-button  class="sub_btn me-3 " (click)="save()" >Get Payments</button>
                        <!-- <button mat-button  class="cancel_btn" (click)="cancel()">Cancel</button> -->
                    </div>
                </div>
            </div>    

        </div>
    </form>
    </mat-card>

    <div *ngIf="lawyerPaymentsData">

  <div *ngIf="userPayments[0]">
    <mat-card class="mat_card_invoice">
        <div class="col-md-12" >


            <div  class="add_invoice_form">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="form_alert">
                            
                           <div class="amount-btn d-flex">
                             <h3>Total Lawyer Share:- {{lawyerPaymentsData.share_amount | currency}}</h3>
                             <button *ngIf="!pay_Outs.length" (click)="makePayments()" >Pay Now</button>
                             <h6 *ngIf="pay_Outs.length > 0">Payment Paid</h6>
                           </div>
                
                            
                        </div>
                    </div>
                </div>
            </div>


            <table mat-table [dataSource]="dataSource" class="table_width">

              
              
              
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> User Name</th>
                  <td mat-cell *matCellDef="let element"> {{element?.user_id[0]?.first_name}} {{element?.user_id[0]?.last_name}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email  </th>
                  <td mat-cell *matCellDef="let element"> {{element?.user_id[0]?.email}}</td>
                </ng-container>


                  <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element"> {{element?.user_id[0]?.phone_no}} </td>
                  </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element">{{element?.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.payment_status === 'paid'">
                            Success
                        </ng-container>
                        <ng-container *ngIf="element.payment_status === 'created'">
                            Failed
                        </ng-container>
                    
                    </td>
                </ng-container>

            

              
             
             
        
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header_bg"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
            </table>

            <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of GitHub search results"></mat-paginator>
            
             
        </div>

    </mat-card>
</div>


<div *ngIf="!userPayments[0]">
    <mat-card class="mat_card_invoice">
        <div class="col-md-12" >
            <h3>Select Date And Select Interval Payments Records Doesn't Exist  </h3>
        </div>
        </mat-card>
</div>


</div>


</div>

        </div>
    </div>
