.Add_Invoice{
    padding: 3vw 2vw;
    background-color: #f2f1f7;
    min-height: 91.5vh;
    .pagination-header {
        nav {
            .breadcrumb {
                margin: 0 0 1vw;
                font-family: 'Manrope';
                font-weight: 500;

                li {
                    font-size: .75vw;
                    color: #414146;
                    font-weight: 500;
                    padding-left: .3vw;

                    a {
                        color: #414146;
                        font-size: .75vw;
                        font-weight: 400;
                    }
                }

                .breadcrumb-item+.breadcrumb-item::before {
                    padding-right: .3vw;
                    color: #666;
                }
            }


        }
       
    }
    .invoice_heading{
        h1{
            font-size: 1.2vw;
        font-weight: 800;
        color: #000;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        }
    }
    .mat_card_invoice{
        padding: 2vw;
        margin-top: 1vw;
        .add_invoice_form{
            .form_alert{
                margin-bottom: 2vw;
                .mat_label{
                    color: #707074;
                    font-size: 1.1vw;
                    padding: 0;
                    margin: 0 0 0.5vw;  
                    font-weight: 500;  
                    span{
                        color: red;
                    }
                 }
                .mat_form_filed{
                    width: 100% !important;
                    margin-bottom: 0.3vw;
                    .mat_input{
                       border: 0.1vw solid #e3e3e3;
                       padding: 1.1vw;
                       font-size: 0.9VW;
                       border-radius: 0.2VW;
                       background-color: #f9f9f9;
                       width: 31vw;
                    }
                    .mat_input1{
                        width: 33.5vw;
                    }
                    .time_picker{
                        position: absolute;
                        right: 1vw;
                        top: 0.7vw;
                    }
                }
                .alert-danger{
                    background-color: inherit;
                    padding: 0;
                    margin: 0;
                    font-size: 0.83vw;
                    color: red;
                    border: inherit;
                    position: absolute;
                }
            }
            
            
        }
        .sub_btn{
            font-size: 1.1vw;
            font-weight: 500;
            color: #fff;
            padding: 0.7vw 3vw;
            background-color: #e86d1f;
            border: inherit;
            margin-top: 1.5vw;
            border-radius: 0.2vw;
            height: 6vh;
        }
        .cancel_btn{
            color: #999999;
            font-size: 1.1vw;
            font-weight: 500;
            background-color:inherit;
            border: 0.1vw solid #666;
            margin-top: 1.5vw;
            border-radius: 0.2vw;
            height: 6vh;
            padding: 0.7vw 3vw;
        }

    }
}



.file-upload-button {
    border-radius: 0.2vw;
    padding: 0vw;
    overflow: hidden;
    width: 8vw;
    border: 0.1vw solid #ccc !important;
    height: 3vw;
    position: absolute;
    top: 0.5vw;
    right: 0;
    background: #1d439f;
    color: #fff;
    font-size: 0.85vw;
    font-weight: 600;

    &::after {
        content: '';
        color: #000;
        font-size: 1vw;
        text-align: center;
    }

    .upload-file[type="file"] {

        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        padding: 1.1vw !important;
    }

}

.file-info {
    color: #999;
    font-family: Lato;
    margin-left: 0.5rem;
}

.upload-file {

    padding: 0;
    width: 100%;
    height: 3vw;

    .upload-img {
        position: relative;
        border-bottom: 0.1vw solid #ccc;
        padding: 1.67vw;

        p {
            padding: 0;
            margin: 0;
            position: absolute;
            bottom: 1vw;
        }

        h5 {
            margin-top: 1vw;
            margin-left: 1vw;
            font-size: 0.75vw;
            font-weight: 500;
            color: #575759;
        }
    }

    input::placeholder {
        font-size: 0.75vw;
        font-weight: 500;
    }

    .upload-photo {
        margin-left: 1vw;

        h5 {
            margin-top: 1vw;
            margin-left: 1vw;
            font-size: 0.75vw;
            font-weight: 500;
            color: #575759;
        }
    }
}




h6{
    span{
        color: red;
    }
}