<div class="lawyers_invoice">
    <div class="row m-0">
        <div class="col-md-10">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Home</a></li>
                        <li class="breadcrumb-item active"><a>Feedback</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>Feedback</h1>
            </div>
        </div>
        <div class="col-md-2">
            <form action="" class="add_invoice_form add_invoice_form1">
                <div class="row">
                    <div class="col-md-8">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0">
            
        <div class="col-md-12">
            <table mat-table [dataSource]="dataSource" class="table_width">

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef>User Name</th>
                  <td mat-cell *matCellDef="let element">{{element.client.first_name}}  {{element.client.last_name}}</td>
                </ng-container>
              
              
                <ng-container matColumnDef="phone_no">
                  <th mat-header-cell *matHeaderCellDef> Mobile Number</th>
                  <td mat-cell *matCellDef="let element"> {{element.client.phone_no}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Subject</th>
                  <td mat-cell *matCellDef="let element"> {{element.subject}}</td>
                </ng-container>

                <ng-container matColumnDef="massage">
                    <th mat-header-cell *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element">{{element.feed_back_text}} </td>
                </ng-container>
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Date</th>
                    <td mat-cell *matCellDef="let element">{{element.created_on | date: 'MMM dd,yyyy'}} </td>
                </ng-container>
               
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header_bg"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="feedbackList.length" [pageSize]="7" [pageSizeOptions]="[8, 10, 25, 100]" aria-label="Select page of GitHub search results"></mat-paginator>
            
             
        </div>
    </div>
   
</div>
