<div class="lawyers_invoice">

    <div class="row m-0">
        <div class="col-md-12">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" [routerLink]="'/admindashboard/view_leads'"><a>Cases</a></li>
                        <li class="breadcrumb-item active" [routerLink]="'/admindashboard/view_leads'" ><a>View Cases</a></li>
                        <li class="breadcrumb-item active"><a>{{selectedCase?.token_numbers}}</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>About Case</h1>
        </div>
        <div class="row">
        <div class="col-3 tab_wraper">
            <div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" [ngClass]="{'active': tabVal == 'case-details'}" id="v-pills-home-tab"
                    data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"
                    (click)="tabChange('case-details')">
                    Case Details</a>

                <a class="nav-link" [ngClass]="{'active': tabVal == 'doc-share'}" id="v-pills-doc-tab"
                    data-toggle="pill" role="tab" aria-controls="v-pills-doc" aria-selected="true"
                    (click)="tabChange('doc-share')">Doc Share</a>

                <a class="nav-link" [ngClass]="{'active': tabVal == 'online'}" id="v-pills-online-tab"
                    data-toggle="pill" role="tab" aria-controls="v-pills-online" aria-selected="true"
                    (click)="tabChange('online')">Appointments</a>

                <a class="nav-link" [ngClass]="{'active': tabVal == 'notes'}" id="v-pills-notes-tab"
                    data-toggle="pill" role="tab" aria-controls="v-pills-notes" aria-selected="false"
                    (click)="tabChange('notes')">
                    Meeting Notes</a>

            </div>
        </div>
        <div class="col-9 tab_content">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane"
                    [ngClass]="{'active': tabVal == 'case-details', 'show': tabVal == 'case-details'}"
                    *ngIf="tabVal == 'case-details'" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">

                    <div class="db-body-content">

                        <div class="row m-0 p-0">
                            <div class="col-md-12">

                                <table>
                                    <tr>
                                        <td class="td_header">Case ID</td>
                                        <td>{{selectedCase?.token_numbers}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td_header">Client Name</td>
                                        <td>{{selectedCase?.client?.first_name}} {{selectedCase?.client?.last_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_header">Lawyer Name</td>
                                        <td>{{selectedCase?.timeslot?.created_by?.first_name}} {{selectedCase?.timeslot?.created_by?.last_name}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="td_header">Case Description</td>
                                        <td>{{selectedCase?.appointment_detail}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td_header">Initiation Date</td>
                                        <td>{{selectedCase?.created_on | date: 'dd MMM, yyyy'}} </td>
                                    </tr>
                                    <tr>
                                        <td class="td_header">Next Meeting</td>
                                        <td>{{selectedCase?.timeslot?.Advocate_timing_slot }}</td>
                                    </tr>

                                </table>

                                <div class="row">
                                    <div class="col close_btn justify-content-center">
                                        <button mat-button type="submit" (click)="caseClose()" class="sub_btn">Close
                                            Case</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <div class="col close_btn justify-content-center">
                                
                            </div>
                        </div>

                    </div>

                </div>

                <div class="tab-pane " [ngClass]="{'active': tabVal == 'doc-share', 'show':tabVal == 'doc-share'}"
                    *ngIf="tabVal == 'doc-share'" id="v-pills-doc" role="tabpanel"
                    aria-labelledby="v-pills-doc-tab">
                    <div class="row  m-0 p-0 d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="db-body-content ">

                                <div class="db-body-header d-flex justify-content-between">
                                    <h5>Doc Share</h5>
                                    <button mat-button class="link_btn" (click)="addFile()">Upload Document</button>

                                </div>
                                <div class="row">
                                    <div class="upload_files ">
                                        <div class="col-md-4 file_card" *ngFor="let allFiles of uploadAllFiles">

                                            <div *ngIf="allFiles.file_type === 'application/pdf'">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="#b81700" class="bi bi-file-earmark-pdf-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548zm2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114zm2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256zM8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                                                    <path fill-rule="evenodd"
                                                        d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                                                </svg>
                                            </div>
                                            <div
                                                *ngIf="allFiles.file_type === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="#295294" class="bi bi-file-earmark-word-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM5.485 6.879l1.036 4.144.997-3.655a.5.5 0 0 1 .964 0l.997 3.655 1.036-4.144a.5.5 0 0 1 .97.242l-1.5 6a.5.5 0 0 1-.967.01L8 9.402l-1.018 3.73a.5.5 0 0 1-.967-.01l-1.5-6a.5.5 0 1 1 .97-.242z" />
                                                </svg>
                                            </div>
                                            <div
                                                *ngIf="allFiles.file_type === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="#0f783f" class="bi bi-file-excel-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5.884 4.68 8 7.219l2.116-2.54a.5.5 0 1 1 .768.641L8.651 8l2.233 2.68a.5.5 0 0 1-.768.64L8 8.781l-2.116 2.54a.5.5 0 0 1-.768-.641L7.349 8 5.116 5.32a.5.5 0 1 1 .768-.64z" />
                                                </svg>
                                            </div>


                                            <div
                                                *ngIf="allFiles.file_type === 'application/vnd.openxmlformats-officedocument.presentationml.presentation'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="#cb4424" class="bi bi-file-earmark-ppt-fill"
                                                    viewBox="0 0 16 16">
                                                    <path d="M8.188 10H7V6.5h1.188a1.75 1.75 0 1 1 0 3.5z" />
                                                    <path
                                                        d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM7 5.5a1 1 0 0 0-1 1V13a.5.5 0 0 0 1 0v-2h1.188a2.75 2.75 0 0 0 0-5.5H7z" />
                                                </svg>
                                            </div>

                                            <div *ngIf="allFiles.file_type === 'text/plain'">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                                    fill="#82c1ce" class="bi bi-sticky-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M2.5 1A1.5 1.5 0 0 0 1 2.5v11A1.5 1.5 0 0 0 2.5 15h6.086a1.5 1.5 0 0 0 1.06-.44l4.915-4.914A1.5 1.5 0 0 0 15 8.586V2.5A1.5 1.5 0 0 0 13.5 1h-11zm6 8.5a1 1 0 0 1 1-1h4.396a.25.25 0 0 1 .177.427l-5.146 5.146a.25.25 0 0 1-.427-.177V9.5z" />
                                                </svg>
                                            </div>


                                            <h6>{{allFiles.client_file_name}}
                                            </h6>
                                            <div class="actions_card">
                                                <ul>
                                                  
                                                    <li class="chart_icon" matTooltip="Download"
                                                        (click)="downloadfile(allFiles.client_files_url)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                            height="16" fill="currentColor" class="bi bi-download"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                            <path
                                                                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                                        </svg>
                                                    </li>
                                                    <li class="chart_icon" matTooltip="Delete"
                                                       
                                                        (click)="deleteFile(allFiles)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                            height="16" fill="currentColor" class="bi bi-trash3"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                                                        </svg>
                                                    </li>

                                                </ul>
                                            </div>
                                            <p class="upload_date ">Uploaded on: {{allFiles.created_on | date:'dd MMM,yyyy' }} </p>
                                            <div class="card_footer ">
                                                <small>Uploaded By:</small>
                                                <p *ngIf="allFiles.created_by?.role ===  'Advocate' ">   {{allFiles.created_by?.username.split('-')[0]}} </p>
                                                <p *ngIf="allFiles.created_by?.role ===  'user' ">
                                                    {{allFiles.created_by?.username.split('-')[0]}}</p>
                                                    <p *ngIf="allFiles.created_by?.role ===  'Admin' ">
                                                        Admin</p>

                                            </div>
                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="tab-pane " [ngClass]="{'active': tabVal == 'online', 'show': tabVal == 'online'}"
                    *ngIf="tabVal == 'online'" id="v-pills-online" role="tabpanel"
                    aria-labelledby="v-pills-online-tab">

                    <div class="row m-0 p-0 d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="db-body-content ">

                                <div class="db-body-header d-flex justify-content-between">
                                    <h5>Appointments</h5>
                                    <button mat-button class="link_btn" (click)="addLink()">Send Meeting
                                        Link</button>
                                </div>



                                <div class="row mt-3">
                                    <div class="col-md-12 table_data">
                                 
                                        <div>
                                            <table mat-table [dataSource]="dataSource"
                                                class="table_width">

                                                <!--- Note that these columns can be defined in any order.
                                                  The actual rendered columns are set as a property on the row definition" -->

                                                <!-- Position Column -->
                                              

                                                <!-- Name Column -->
                                                <ng-container matColumnDef="name">
                                                    <th mat-header-cell *matHeaderCellDef> Agenda </th>
                                                    <td mat-cell *matCellDef="let element"
                                                        [matTooltip]="getTooltip(element.meet_details)">
                                                        {{element.meet_details?.slice(0,12)}}... </td>
                                                </ng-container>

                                                <!-- Weight Column -->
                                                <ng-container matColumnDef="id">
                                                    <th mat-header-cell *matHeaderCellDef> Case ID </th>
                                                    <td mat-cell *matCellDef="let element">

                                                        {{element.advocate_appointment.token_numbers}} </td>
                                                </ng-container>


                                                <ng-container matColumnDef="meeting_detalis">
                                                    <th mat-header-cell *matHeaderCellDef> Meeting Details </th>
                                                    <td mat-cell *matCellDef="let element">

                                                        {{element.meet_date | date: 'dd MM, yyyy'}} {{element.meet_time
                                                        }}

                                                    </td>
                                                </ng-container>


                                                <ng-container matColumnDef="meeting_link">
                                                    <th mat-header-cell *matHeaderCellDef> Meeting Link </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.meet_link }} </td>
                                                </ng-container>

                                            
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                                                    class="header_bg"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                            <mat-paginator [length]="allMeeting.length" [pageSize]="5"
                                                [pageSizeOptions]="[5, 10, 25, 100]"
                                                aria-label="Select page of users"></mat-paginator>

                                        </div>
                                    </div>
                                </div>
                            



                            </div>
                        </div>
                    </div>
                </div>



                <div class="tab-pane " [ngClass]="{'active': tabVal == 'notes', 'show':tabVal == 'notes'}"
                    *ngIf="tabVal == 'notes'" id="v-pills-notes" role="tabpanel"
                    aria-labelledby="v-pills-notes-tab">
                    <div class="row m-0 p-0 d-flex justify-content-center">
                        <div class="col-md-12">
                            <div class="db-body-content ">

                                <div class="db-body-header d-flex justify-content-between">
                                    <h5>Meeting Notes</h5>
                                    <button mat-button class="link_btn" (click)="addComment()">Send Meeting
                                        Notes</button>
                                </div>
                                <div class="note-card">
                                <ul>
                                    <li *ngFor="let notes of allNotes">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="middle1" >{{notes.subject}}</h6>
                                            <div class="action_btns"  *ngIf="notes.created_by?.role ==  'Admin' ">
                                                <button (click)="editMeetingNotes(notes)"><i class="bi bi-pencil-square"></i></button>
                                                <button (click)="deleteMeetingNotes(notes)"><i class="bi bi-trash-fill"></i></button>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                   
                                                      <div>
                                                        <span class="middle">{{notes.comment}}</span>
                                                        <p class="created_by_cl"
                                                            *ngIf="notes.created_by?.role ==  'user' ">Added By:
                                                            <span>
                                                                {{notes.created_by?.username.split('-')[0]}}</span>
                                                                On <span>{{notes.created_on | date: 'dd MM, yyyy'}}</span>
                                                        </p>
                                                        <p class="created_by_cl"
                                                            *ngIf="notes.created_by?.role == 'Advocate' ">Added
                                                            By: <span>  {{notes.created_by?.username.split('-')[0]}}</span> On <span>{{notes.created_on | date: 'dd MM, yyyy'}}</span></p>
                                                            <p class="created_by_cl"
                                                            *ngIf="notes.created_by?.role ==  'Admin' ">Added
                                                            By: <span> Admin</span> On <span>{{notes.created_on | date: 'dd MM, yyyy'}}</span></p>
                                                            </div>
                                                    </div>
                                                </div>
                                            
                                    </li>
                                </ul>
                            </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

</div>
