<div class="add_new_topic">
    <div class="row m-0">
        <div class="col-md-12 p-0">
            <div mat-dialog-title class="dialog_title">
                <h1>File Upload</h1>
                <button mat-button mat-dialog-close class="cancel_btn"><i (click)="cloceDialog()" class="bi bi-x-circle"></i></button>
            </div>
            
            <div mat-dialog-content class="dialog_content">
                <form class="add_invoice_form" [formGroup]="addFileFrom"  #myform="ngForm"  >
                   
                    <div class="row">
                        
                        <div class="col-md-12"  >
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">File Name  <span>*</span></label>
                                <input type="text" class="form-control" formControlName="client_file_name"  placeholder="File Name">
                              </div>
                              <h6>
                                <span *ngIf="addFileFrom.controls['client_file_name'].hasError('required') && myform.submitted">File Name is required</span>
                              </h6>
                        </div>
                        
                        <div class="col-md-12" >
                            <div class="mb-3">
                                <!-- <label for="exampleFormControlInput1" class="form-label">Upload File</label> -->
                                
                                <div class="upload-file">
                                    <div class="upload-img d-flex">
                                        <button class="file-upload-button">
                                            <input type="file" class="upload-file" formControlName="client_files"
                                                (change)="onFileChanged($event)" />
                                            Browse File
                                        </button>
                                
                                        <p>{{fileName}}</p> 
                                    </div>
                                    <h6>
                                        <span *ngIf="addFileFrom.controls['client_files'].hasError('required') && myform.submitted">File is required</span>
                                      </h6>
                                </div>
                              
                              </div>
                        </div>
                    </div>
                 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row  justify-content-center">
                                <div class="col-md-7">
                                    <button mat-button (click)="addFile()"  class="sub_btn">Send File</button>
                                  
                                </div>
                    
                            </div>
                        </div>                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

