.lawyers_invoice{
    padding: 5.5vw 2vw 3vw 2vw;
    background-color: #f4f4fa;
    .pagination-header {
        nav {
            .breadcrumb {
                margin: 0 0 1vw;
                font-family: 'Manrope';
                font-weight: 500;

                li {
                    font-size: .75vw;
                    color: #414146;
                    font-weight: 500;
                    padding-left: .3vw;

                    a {
                        color: #414146;
                        font-size: .75vw;
                        font-weight: 400;
                    }
                }

                .breadcrumb-item+.breadcrumb-item::before {
                    padding-right: .3vw;
                    color: #666;
                }
            }


        }
       
    }
    .invoice_heading{
        h1{
            font-size: 1.2vw;
        font-weight: 800;
        color: #000;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        }
    }
    .add_inv_btn{
        border: inherit;
        font-size: 1vw;
        padding: 1.25vw ;
        background-color:#e86d1f;
        border-radius: 10vw;
        color: #fff;
        font-weight: 500;
        width: 100%;
    }
    .filter_btn{
        border: inherit;
        font-size: 1vw;
        padding: 1.2vw ;
        background-color: #213870;
        border-radius: 10vw;
        color: #fff;
        font-weight: 500;
        width: 100%;
        i{
            font-size: 1.3vw;
            margin-right: 0.8vw;
            vertical-align: middle;
        }
    }

    
    .mat_card_invoice{
        padding: 3vw;
        border-radius: 1vw;
        margin:1vw 0  0;
        .tab_body{
            p{
                font-size: 1.1vw;
                color: #333437;
                padding: 0;
                margin: 0;
                font-weight: 500;
            }
            h6{
                padding: 0;
                margin: 1vw 0 0 ;
                font-size: 1.2vw;
                color: #333437;
                font-weight: 500;
                button{
                    color:#e86d1f;
                    border: 0.1vw solid #e86d1f;
                    padding: 0.8vw;
                    border-radius: 0.5vw;
                    background-color: inherit;
                    font-size: 1vw;
                    font-weight: 500;
                    margin: 0 0 0 1vw;
    
                }
            }
        }
       
    }
}


.table_width{
    width: 100%;
    padding: 0.5vw;
    .mat-row:nth-child(even){
        background-color: #f5f8fd;
    }
    th{
        font-size: 1vw;
        padding: 1vw;
        margin: 0;
        color: #fff;
    }
    .header_bg{
        background-color: #213870;
    }
    td{
        font-size: 0.9vw;
        font-weight: 400;
        color: #333437;
        padding: 1vw;
        margin: 0;
        border: inherit;
        span{
            color: #e86d1f;
            cursor: pointer;
        }
        button{
            border: inherit;
            background-color: #e7eefe;
            padding: 0.5vw;
            border-radius: 0.3vw;
            i{
                color: #213870;
                margin-left: 0.5vw;
                font-size: 1vw;
            }
        }
    }
}

tr.mat-header-row.cdk-header-row.ng-star-inserted {
    background-color:  #213870;
}