<div class="Add_Invoice">
    
    <div class="row m-0">
        <div class="col-md-12">
            <!-- <div class="pagination-header">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a>Cases</a></li>
                        <li class="breadcrumb-item active"><a>Add Cases</a></li>
                    </ol>
                </nav>
            </div> -->
            <div class="invoice_heading">
                <h1>Add Cases</h1>
            </div>
        </div>
    </div>

    <div class="row m-0">
        <div class="col-md-12">
            <mat-card class="mat_card_invoice">
                <form action="" class="add_invoice_form" [formGroup]="addLeadsForm" #myform="ngForm">
                    <!-- <form action="" class="add_invoice_form"  > -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Mobile<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" maxlength="10"
                                        formControlName="phone_no" (keyup)="onKey($event)">
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['phone_no'].hasError('required') && myform.submitted">Mobile
                                        No is required</span>
                                </h6>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['phone_no'].hasError('pattern') && myform.submitted">Mobile
                                        number is not 10 digit </span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form_alert">
                                <label class="mat_label">First Name<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="first_name">
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['first_name'].hasError('required') && myform.submitted">First
                                        Name
                                        is required</span>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Last Name<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="last_name">
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['last_name'].hasError('required') && myform.submitted">Last
                                        Name
                                        is required</span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Email<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <input matInput type="text" class="mat_input" formControlName="email">
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['email'].hasError('required') && myform.submitted">Email
                                        Id
                                        is required</span>
                                </h6>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['email'].hasError('pattern') && myform.submitted">Email
                                        Id is invalid </span>
                                </h6>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Select Category<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <mat-select  class="mat_input mat_input1" formControlName="category_id"
                                        (selectionChange)="getSelectedLawyer($event)">
                                        <mat-option *ngFor="let categoryData of categoryList" [value]="categoryData.id">
                                            {{categoryData.category_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['category_id'].hasError('required') && myform.submitted">Select
                                        the Category
                                    </span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Select Lawyer<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <mat-select name="food" class="mat_input mat_input" formControlName="advocate"
                                        (selectionChange)="getSlots($event)">
                                        <mat-option *ngFor="let lawyerData of lawyerList" [value]="lawyerData.id">
                                            {{lawyerData.username.split('-')[0]}}
                                        </mat-option>
                                    </mat-select>
                                    <h6>
                                        <span
                                            *ngIf="addLeadsForm.controls['advocate'].hasError('required') && myform.submitted">Select
                                            the Lawyer
                                        </span>
                                    </h6>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form_alert">
                                <mat-label class="mat_label">Choose a date<span>*</span></mat-label>
                                <mat-form-field class="mat_form_filed">
                                    <!-- <input matInput [matDatepicker]="picker"  (dateInput)="getDate($event)" formControlName="date" -->
                                     <input matInput [matDatepicker]="picker"  (dateInput)="getDate($event)" formControlName="date"
                                         class="mat_input">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['date'].hasError('required') && myform.submitted">Choose
                                        the Date
                                    </span>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Select Time Slots<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                    <mat-select name="food"  class="mat_input mat_input" formControlName="timeslot">
                                        <mat-option *ngFor="let timeSlots of lawyerTimeSlots"  [value]="timeSlots.timeslot__id">
                                            {{timeSlots.timeslot__Advocate_timing_slot}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['timeslot'].hasError('required') && myform.submitted">Select
                                        the Time Slot
                                    </span>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form_alert">
                                <label class="mat_label">Appointment Detail<span>*</span></label>
                                <mat-form-field class="mat_form_filed">
                                   
                                    <textarea matInput   class="mat_input"  formControlName="appointment_detail"  cols="10" rows="5"></textarea>
                                </mat-form-field>
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['appointment_detail'].hasError('required') && myform.submitted">Appointment Detail is Required
        
                                    </span>
                                </h6>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="radio_mat_btn">
                                <div>
                                    <label class="mat_label">Select<span>*</span></label>
                                </div>
                                <div>
                                    <mat-radio-group class="mat_radio" aria-label="Select an option"
                                    formControlName="appointment_type">
                                    <mat-radio-button class="radio_btn" value="online">Online</mat-radio-button>
                                    <mat-radio-button class="radio_btn" value="offline">Offline</mat-radio-button>
                                </mat-radio-group>
                                </div>
                               
                                <h6>
                                    <span
                                        *ngIf="addLeadsForm.controls['appointment_type'].hasError('required') && myform.submitted">Please Select the offline or online
        
                                    </span>
                                </h6>
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="buttuns">
                                <div class="d-flex justify-content-between">
                                    <button mat-button class="sub_btn me-3 " (click)="addLeads()">Save</button>
                                    <!-- <button mat-button class="cancel_btn" (click)="cancel()" >Cancel</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>

</div>